.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh; /* Adjust as needed */
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem; /* Reduced from original Next.js template */
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0; /* Adjusted margin */
  line-height: 1.5;
  font-size: 1.2rem; /* Reduced */
}

.profileImageContainer {
  margin-top: 2rem;
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Clip the image to the border-radius */
  border: 3px solid #0070f3;
}

.profileImage {
  border-radius: 50%; /* Ensures the image itself is rounded if not perfectly square */
}